.my-card {
    background: white !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 23px !important;
}

.modal-content {
    width: 100%;
    background: #EFF3F7;
    border-radius: 16px
}

.modal-row {
    width: 100%;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.model-content label{
    text-align: left !important;
    margin-left: 3rem;
}

.bg-dark, .btn-dark{
    background: #313949 !important;
    color: #ffffff;
}

.breadcrumb a{
    color: white !important;
}

.text-dark{
    color: #000000 !important;
}

.list-group-item.active{
    background: #313949 !important;
}
.nav-pills .nav-link.active{
    background: #313949 !important;
}

.breadcrumb-item a{
    color: white !important;
}

.input-group{
    border: 1px solid rgb(102, 102, 102) !important;
}
